<header>
    <nav class="bg-white fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
      <ul class="navigation max-w-[90vw] flex flex-wrap justify-between items-center relative mx-auto py-8">
        <a class="logo" [routerLink]="['home']">
          <h2 class="font-bold text-3xl">Books-Library</h2>
        </a>
        <input type="checkbox" id="check" />
  
        <ul class="menu flex [&>li]:pl-8 [&>li>a]:text-center [&>li>a]:relative [&>li>a]:transition [&>li>a]:duration-200 [&>li>a]:ease-in-out [&>li>a]:font-medium [&>li>a]:text-lg">
          <li><a [routerLink]="['']">Home</a></li>
          <li><a [routerLink]="['search']">Search</a></li>
          <li><a [routerLink]="['wish-list']">Wish-List</a></li>
  
          <label for="check" class="close-menu">X</label>
        </ul>
  
        <label for="check" class="open-menu">Menu</label>
      </ul>
    </nav>
  </header>