<footer>
    <div class="pt-6 mt-12 border-t border-gray-200 dark:border-gray-600">
        <div class="text-center sm:flex sm:justify-between sm:text-left max-w-[90vw] flex-wrap items-center relative mx-auto py-2">
          <p class="text-base text-black">
            <span class="block sm:inline">All rights reserved.</span>
          </p>
  
          <p class="mt-4 text-base text-black sm:order-first sm:mt-0">
            &copy; 2024 Books-Library
          </p>
        </div>
      </div>
</footer>