<div *ngIf="isLoading">Loading author details...</div>
<div *ngIf="error">Error: {{ error.message }}</div>

<section *ngIf="!isLoading">
  <div>
    <img
      *ngIf="authorDetails.photos && authorDetails.photos.length > 0"
      class="cover-photo"
      [src]="getCoverImageUrl(authorDetails.photos[0])"
      alt="photo of {{ authorDetails.name }}"
    />
    <img
      *ngIf="!authorDetails.photos || authorDetails.photos.length < 1"
      class="cover-photo"
      src="assets/placeholder.jpg"
      alt="photo of {{ authorDetails.name }}"
    />
  </div>
  <div class="content">
    <div>
      <h2>{{ authorDetails.name }}</h2>
    </div>
    <div>
      <p class="text-gray-500 uppercase text-base">Birthdate: {{ authorDetails.birth_date }}</p>
      <p>Works Count: {{ authorDetails.worksCount }}</p>
      <p>Top Subjects:</p>
      <ul>
        <li *ngFor="let subject of authorDetails.topSubjects">{{ subject }}</li>
      </ul>
    </div>
    <div>
      <button type="button">Add / Remove Wishlist</button>
    </div>
  </div>
</section>
