<div class="text-center p-10">
    <h1 class="font-bold text-4xl mb-4">Books Library</h1>
    <h1 class="text-3xl">Finance</h1>
</div>

<div *ngIf="isLoading" class="text-center text-3xl">
    <h2>Loading books...</h2>
  </div>

  <div *ngIf="error">
    Error: {{ error.message }}
  </div>

<section id="Projects"
    class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">

<div *ngFor="let card of bookList">
    <app-card [key]="card.key" [title]="card.title" [authors]="card.authors" [publicationYear]="card.first_publish_year" [cover_id]="card.cover_id"/>
</div>

</section>
